<div class="card livre">
    <h4 class="card-header">titre</h4>

    <div class="row ">
        <div class="col-4 d-flex align-items-center">
            <a href=""><img class="card-img p-1" src=""></a>
        </div>

        <div class="col-8">
            <div class="card-body">
                <p class="card-text">De : </p>
                <p class="card-text">Catégorie 
            </div>
        </div>
    </div>

    <div class="card-footer">
            <a href="" class="card-link">
                <i class="fa fa-book"></i> Voir plus
            </a>
        
    </div>
</div>  