<div class="card livre">
    <h4 class="card-header">{{ livre.titre }}</h4>

    <div class="row ">
        <div class="col-4 d-flex align-items-center">
            <img class="card-img p-1" src="/images/{{ livre.couverture }}">
        </div>

        <div class="col-8">
            <div class="card-body">
                <p class="card-text">De : {{ livre.auteur.identite }}</p>
                <p class="card-text">Catégories : {{ livre.categoriesTexte }} 
            </div>
        </div>
    </div>

    <div class="card-footer">
            <a href="" class="card-link">
                <i class="fa fa-book"></i> Voir plus
            </a>
        
    </div>
</div>  