{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Biographie</th>
        </tr>
    </thead>
    <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.identite }}</td>
                <td>{{ auteur.biographie }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun auteur n'est enregistré</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
