{% extends "base.html.twig" %}

{% block body %}

    <h2 class="alert alert-info">Bonjour {{prenom}}, bienvenue dans le monde de Symfony</h2>

{% endblock %}

{% block nav %}
    navigation du fichier <i>bonjour.html.twig</i>
{% endblock %}

{% block piedDePage %}
    footer du fichier bonjour.html.twig
{% endblock %}